.a{
    animation: zoomIn ease-in 2s;
}
.home{
    display: flex;
}
.footer{
    background: #263238;
    color: #f4f4f4; 
    padding: 1.5rem;
    text-align: center;
}

.social-media-links i{
    margin: 2rem;
    
}
.social-media-links i:hover{
    opacity: 0.7;
}
/* @keyframes zoomIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  } */
